<header class="header">
    <div class="header-main">
      <div class="header-left">
        <img style="width: 80px;" src="images/logo_njtech.jpg" class="header-logo" />
      </div>
      <div class="header-right">
        <div style="height: 100%; display: table">
          <span class="school" style="vertical-align: middle; display: table-cell">南京工业大学</span>
          <span class="info" style="vertical-align: middle; display: table-cell">计算机科学与技术学院</span>
        </div>

        <!-- <h1 class="title">「双分双合、多维协同」信通学科研究生创新人才培养模式的研究与实践</h1> -->
      </div>
    </div>
  </header>
  <!--nav-->
  <div class="navWrap">
    <div class="innavWrap">
      <ul class="cleafix">
        <li>
          <a href="index.htm">首页</a>
        </li>
        <li class="mainMenu">
          <a class="link" href="pages/datasets/NASA.htm">数据集</a>
          <div id="nav">
            <a style="white-space: nowrap" href="pages/datasets/NASA.htm">NASA</a>
            <a style="white-space: nowrap" href="pages/datasets/PROMISE.htm">PROMISE</a>
            <a style="white-space: nowrap" href="pages/datasets/AEEEM.htm">AEEEM</a>
            <a style="white-space: nowrap" href="pages/datasets/ReLink.htm">ReLink</a>
          </div>
        </li>
        <li class="mainMenu">
          <a class="link" href="pages/features/Size.htm">软件特征</a>
          <div id="nav">
            <a style="white-space: nowrap" href="pages/features/Size.htm">Size</a>
            <a style="white-space: nowrap" href="pages/features/Complexity.htm">Complexity</a>
            <a style="white-space: nowrap" href="pages/features/Coupling.htm">Coupling</a>
            <a style="white-space: nowrap" href="pages/features/Encapsulation.htm">Encapsulation</a>
            <a style="white-space: nowrap" href="pages/features/Inheritance.htm">Inheritance</a>
          </div>
        </li>

        <li class="mainMenu">
          <a class="link" href="pages/models/index.htm">模型建立</a>
        </li>

        <li class="mainMenu">
          <a class="link" href="pages/achievements/patent.htm">成果展示</a>
          <div id="nav">
            <a style="white-space: nowrap" href="pages/achievements/patent.htm">专利展示</a>
            <a style="white-space: nowrap" href="pages/achievements/paper.htm">论文展示</a>

          </div>
        </li>
      </ul>
    </div>
  </div>